/* https://jackrimell.co.uk/how-to-create-flat-preloaders-in-css-using-keyframes-part-one/
*/
#content {
  display: none;
}
 
#loading{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:100px;
  height:100px;
  cursor: wait;
  z-index: 1000;

}
#loading hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

#loading :first-child{background:#19A68C;animation-delay:-1.5s}
#loading :nth-child(2){background:#F63D3A;animation-delay:-1s}
#loading :nth-child(3){background:#FDA543;animation-delay:-0.5s}
#loading :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}