<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trinity 3 Administration</title>



  <link href="{{ url_for('static', filename='__trinity__/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='__trinity__/css/main.css')}}">
  <script src="{{ url_for('static', filename='__trinity__/js/main.js')}}"></script>
  <link href="{{ url_for('static', filename='__trinity__/css/animate.min.css') }}" rel="stylesheet">


  
</head>
<body>
  <div id="content">
    <div class="main-content">
      <div class="main-title">
        Authentication Required
      </div>
    </div>
    <div class="main-content">
      <div class="main">
        <div class="widget-large">
          <div class="title">Login</div>
          <div class="inner">
            Please login below to continue to the admin area.
          </div>
          <div class="inner"><br/>
            {% if error %} 
            <div class="animated pulse infinite alert alert-danger alert-dismissible" role="alert">
              <a class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></a>
              <strong>Error: </strong>{{ error }}
            </div>
            {% endif %}
            <form method="post">
              <div class="form-group">
                <p>Username</p>
                <input name="username" class="form-control" id="username" type="text" aria-describedby="emailHelp" placeholder="Enter username">
              </div>
              <div class="form-group">
                <p>Password</p>
                <input name="password" class="form-control" id="password" type="password" placeholder="Password">
              </div>
              <p>
                <button id="login-submit" name="login-submit" type="submit" class="btn btn-blue" value="Login">Login</button>
              </p>
            </form>
          </div>
        </div>
        <div class="widget-beware">
          <div class="title">
            <i class="fa fa-exclamation-triangle"> </i>
            Beware
          </div>
          <div class="inner">
            Failed login attempts are recorded and may expose your ip address and/or browser information, continue at your own risk.
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
  </html>