<!DOCTYPE html>
<!--
 ______                       __                   __     
/\__  _\       __          __/\ \__              /'__`\   
\/_/\ \/ _ __ /\_\    ___ /\_\ \ ,_\  __  __    /\_\L\ \  
   \ \ \/\`'__\/\ \ /' _ `\/\ \ \ \/ /\ \/\ \   \/_/_\_<_ 
    \ \ \ \ \/ \ \ \/\ \/\ \ \ \ \ \_\ \ \_\ \    /\ \L\ \        
     \ \_\ \_\  \ \_\ \_\ \_\ \_\ \_\ \/`____ \   \ \____/
      \/_/\/_/   \/_/\/_/\/_/\/_/\/__/ `/___/> \   \/___/ 
                                          /\___/          
                                          \/__/     
                https://griimnak.me                 -->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Welcome to Trinity 3</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/trinity.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.min.css') }}">
</head>
<body>
  <div class="container">
    <header>
      <h1>Trinity 3</h1>
      <h4>Installation complete, now what?</h4>
    </header>

    <main>
      <section class="features">
        <div class="section-content">
        <h2>Welcome</h2>
          <p>You can access the administration panel: <a href="{{url_for('admin')}}">here</a>.</p> <br />

        <h2>Statistics</h2>
          <ul>
            <li>Site name: {{ sitename }}</li>
            <li>Site desc: {{ sitedesc }}</li>
            <li>Python version: {{ pyinfo }}</li>
            <li>Port in use by Trinity: {{ siteport }}</li>
          </ul>
        </div>
      </section>

      <section class="pricing">
        <div class="section-content">
          <h2>Developing with Trinity</h2>
          <p>Trinity uses flask as it's main web module, click below to learn more about flask.</p>
            <center>
              <a href="flask.pocoo.org">
                <img width="60%" height="60%" src="http://flask.pocoo.org/static/logo/flask.png"/>
              </a>
            </center>
        </div>
      </section>
    </main>
  </div>

<form method=post action="">
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
</form>


</body>
</html>