/**
 * IsoLite, a simple lightweight admin theme built for Trinity3.
 * @author griimnak
 *
 * The styling of this theme is inspired and influenced by
 * Isomorphic REACT admin. Check it out: https://isomorphic.redq.io/dashboard
 * All css in this file has been coded from scratch.
 */

/* Set body properties */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  width: 100%; 
  height: 100%;
  background-color: #efefef;
  margin: 0;
  padding: 0;
  font: 400 14px/1.6 'Roboto', sans-serif;
}

/* Content wrapper */
.wrapper {max-width: 80%; margin: auto; height: 100vh;}

/* Navigation */
.navi {
  position: fixed;
  opacity: 0.8;
  width: 100%;
  z-index: 3;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.nav-trigger {
  position: relative;
  float: left;
  width: 20px;
  height: 50px;
  left: 30px;
  display: block;
}
.nav-trigger span, .nav-trigger span:before, span:after {
  width: 20px;
  height: 2px;
  background-color: #35475e;
  position: absolute;
}
.nav-trigger span { top: 50%; }
.nav-trigger span:before, .nav-trigger span:after { content: ''; }
.nav-trigger span:before { top: -6px; }
.nav-trigger span:after { top: 6px; }

/* Side navigation */
.side-nav {
  position: fixed;
  width: 239px;
  height: 100%;
  background-color: rgb(45, 52, 70);
  z-index: 1;
  display: none;
  margin-top: 50px;
}
.side-nav ul { margin: 0; padding: 53px 0; }
.side-nav ul li a {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  position: absolute;
  color: rgb(120, 129, 149);
  text-decoration:none;
}
.side-nav ul li i {padding: 25px 20px; }
.side-nav ul li a.active:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

.side-nav ul li:hover { color: #fff; }
.side-nav ul li a:hover { color: #fff; opacity:0.8; background-color: #1f2431;}
.side-nav ul li { position: relative; width: 100%; height: 50px; }
.side-nav ul li i { font-size: 21px; }
.side-nav ul li .selected {color: #fff; background-color: #1f2431; width: 100%; }
.right { margin-left: 239px; padding: 0 20px;}
.side-nav.visible { display: block; }


/* Footer */
.footer {
  position: fixed;
  color: rgb(120, 129, 149);
  bottom: 0;
  padding: 10px 54px;
  left:0;
  width: 100%;
}

/* Header */
.header {
  border-bottom: 1px dashed #858991;
  padding: 10px 20px;
  height: 122px;
  margin-bottom: 70px;
}

/* Header text */
.header h4 {
  font-weight: 700;
  color: #333;
  font-size: 18px;
  margin-top: 100px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}

/* Boxes */
.login-box {
  max-width: 600px;
  min-height: 300px;
  margin: 15px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: auto;
}

.full-box {
  max-width: 800px;
  min-height: 280px;
  margin: 15px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: auto;
}


.hold {
  margin: 0 auto;
  width: 100%;
  vertical-align: top;
  
}


.generic-box {
  vertical-align: top;
  display: inline-block;
  min-width: 600px;
  min-height: 220px;
  margin: 0 15px 25px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
}

.routes-box {
  vertical-align: top;
  display: inline-block;
  width: 600px;
  min-height: 220px;
  margin: 0 15px 25px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
}

.side-box {
  display: inline-block;
  max-width: 250px;
  min-height: 40px;
  margin: 0 15px 25px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.big-box {
  vertical-align: top;
  display: inline-block;
  max-width: 280px;
  min-height: 100px;
  margin: 0 15px 25px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.container {
  width: 100%;
  padding-bottom: 60px;
}

/* Box properties */
.box-title {
  font-size: 21px;
  color: #323332;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 -5px 25px;
}

.box-desc { margin-bottom: 40px; }


/* Table styles */
.table-area {
  padding: 8px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  font-size: 12px;
  padding: .625em;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: left;
}


/* Error and Success */
.error {
  border-radius: 5px;
  color: #fff;
  background-color: #cc0000;
  border: none;
  outline: none;
  font-weight: 600;
  padding: 10px;

}

.success {
  border-radius: 5px;
  color: #fff;
  background-color: #32CD32;
  border: none;
  outline: none;
  font-weight: 600;
  padding: 10px;

}


/* Buttons */
.btn {
  height: 34px;
  border-radius: 5px;
  color: #000;
  background-color: #ffffff;
  border: none;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.btn-blue {
  background: #4482ff;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #4482ff;
}


/* Generic */
#editor { 
  right:0;top:0;left:0;bottom:0; 
  min-height: 600px;
  border: 3px solid #4482ff; 
  border-radius: 2px;
}

.stat-icon {
  font-size: 21px;
  padding-right: 7px;
  width: 21px;
  height: 21px;
}

.highlight { margin: 0 2px -5px; }
.light-text {
  opacity: 0.8;
  color: #797979;
  font-size: 13px;  
}
.btn-span span {
  padding-left: 8px;
  opacity: 0.8;
  color: #797979;
  font-size: 13px;
}
.tweak {margin-bottom: 5px; margin-left: 5px;}

p { word-wrap: break-word; margin: 5px 0px; }
a { color: #4482ff; text-decoration: none; }
input {
  margin-bottom: 20px;
  padding: 4px 10px;
  width: 95%;
  height: 25px;
  cursor: text;
  text-align: left;
  font-size: 13px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  outline: none;
}
select {
  height: 25px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  outline: none;
}

/* Responsive tweaks */
@media screen and (max-width: 768px) {
  .header { height: 100px; }
  .header h4 { margin-top: 77px; }
  .wrapper { max-width: 100%; }
  .side-nav { width: 100%; }

  .footer {
    padding: 0 0;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
  }

  .side-box {
    max-width: 100%;
    margin: 15px 0;
  }

  .generic-box {
    min-width: 100%;
    margin: 15px 0;
  }

  .routes-box {
    width: 100%;
    margin: 15px 0;
  }

  .big-box {
    max-width: 100%;
    margin: 15px 0;
  }

  
}

@media screen and (max-width: 320px) {
  .header { padding: 10px 5px; }
  .header h4 { height: 100px; }
}

@media screen and (max-width: 300px) {
  .header h4 { font-size: 15px; } 
}

@media screen and (max-width: 950px) {
 
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}